table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;

  th {
    font-weight: bold;
    padding: 5px;
    background: rgb(215, 182, 138);
    border: 1px solid rgb(215, 182, 138);
  }

  td {
    border: 1px solid rgb(215, 182, 138);
    padding: 5px;
  }
}

.addList {
  width: 30px;
  height: 30px;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
  }
}
